/**************************/
/* Tailwind CSS Framework */
/**************************/
@tailwind base;
@tailwind components;
@tailwind utilities;

/********************/
/* Z-Index Register */
/********************/
/*
bg-image: -100
side-menu: 15
side-menu-active: 15
hamburger: 100
bar: 100
.hamburger.active .bar:nth-child(2): 100
.hamburger.active .bar:nth-child(1): 100
.hamburger.active .bar:nth-child(3): 100

*/

:root {

/*Colour Theme*/
    --onyx: rgb(215, 215, 215);
    --old-rose: rgba(170, 118, 124, 1);
    --lightblue: rgb(138, 172, 250);    
    --darkgrey: rgb(50,50,50);
    --grey: rgb(100,100,100);
    --lightgrey: rgb(175,175,175);
    --redwarning: rgb(220, 38, 38);

/*UI Objects*/
    --text: var(--onyx);
    --texthighlight: var(--lightblue);    
    --textwarning: var(--redwarning);
    --linkhover: var(--lightblue);
    --linkbackground: var(--darkgrey);
    --inputbackground: var(--grey);
    --inputborder: var(--onyx);
    --buttontext: var(--onyx);
    --buttonbackgroundhover: var(--grey);
    --tablereviewdue: (var(--old-rose))
    /* --textwinein: rgb(22, 163, 74); */    
    /* --deletebutton: rgb(223, 55, 55); */
    /* --deletebuttonhover: rgb(185, 28, 28); */
    

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: 16px;

    color-scheme: light dark;
    color: var(--text);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

/* Heading 1 */

/* main {
    background-color: purple;
} */

h1 {
    font-size: 2.8rem;
    line-height: 1.1;
    padding: 10px;
}

h2 {
    font-size: 2.6rem;
    line-height: 1.1;
    padding: 10px;
}

/********************/
/* Background Image */
/********************/

.bg-image {
    background-image: linear-gradient( rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0) ), url("/assets/images/Graphite.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    filter: blur(0px);
    z-index: -100;  
}

/******************************************/
/* Background of tables - layer of filter */
/******************************************/

.bg-filter {
    background-color: rgba(0, 0, 0, 0.5); 
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    transition: ease-in-out .3s;
}


/**********/
/* Header */
/**********/

/***********/
/* Heading */
/***********/
header {
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.brand-container {   
    justify-content: center;
    transition: ease-in-out .3s;
    /* padding: 5px; */
}

.brand {
    font-family: 'Cherry Bomb One', system-ui;
    /* font-size: 3rem; */
    transition: ease-in-out .1s;
}


/******************/
/* Hamburger Icon */
/******************/

/* Responsive Navigation Styles */
.hamburger {
    cursor: pointer;
    display: block;
    position: relative;
    z-index: 100;

}

/* Hamburger bars */
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: var(--text);
    transition: all 0.3s ease-in-out;
    z-index:100;
}

/* Hamburger Icon Animation */
.hamburger.active .bar:nth-child(2) {
    opacity: 0;
    z-index: 100;
    
}
.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    z-index: 100;
}
.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    z-index: 100;
}


/*************/
/* Side Menu */
/*************/


/* Get rid of the bullet that appears in front of the element type*/
li {    
    list-style: none;
}
/* Mobile Menu */
/* Move the menu offscreen to the left */
.side-menu {
    position: fixed;
    left: -100%;
    top: 0px;
    width: 250px;
    height: 100vh;
    background-color: transparent;
    padding-top: 100px;
    text-align: center;
    transition: left 0.3s;
    z-index: 0;
    justify-content: center;
    align-items: start;
}

.side-menu.active {
    left: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.9);
}

.side-menu-item {
    color: var(--buttontext);
    text-align: left;
    display: block;
    width: 100%;
    padding-left: 3rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);    
}

.side-menu-item:hover {
    background-color: var(--linkbackground); 
}

.side-menu-heading {
    color: var(--buttontext);
    text-align: left;
    font-weight: 600;
    display: block;
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);         
}

.side-menu-admin {
    /* background-color: rgb(157, 92, 92); */
    color: var(--admintext);
}


.side-menu-admin:hover {
    background-color: rgb(209, 157, 157);
    color: rgb(100, 22, 22);
}



/**********/
/* Footer */
/**********/

.footer {
    max-width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-inline: auto;
    text-align: center;         
    font-size: 0.75rem;
    justify-content: center;  
    align-items: center;
}

/*********/
/* Links */
/*********/

/* .link {
    font-size: 1.5rem;
} */

.link:hover {
    color: var(--linkhover);
    text-decoration: underline;

}

.link-img {
    border: 2px solid black;
}

.link-img:hover {
    border: 2px solid var(--linkhover);
}

.no-link {
    color: var(--old-rose)
}

.underline {
    text-decoration: underline;
}

/*********/
/* Pages */
/*********/

.page {
    width: 80%;
    margin: auto;
    transition: ease-in-out .3s;
}

.page-header {
    width: 50%;
    margin: auto;
}

/*****************/
/* Welcome page */
/*****************/

.welcome-page {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.welcome-picture{
    transition: ease-in-out .3s;
}

.welcome-text-container {
    flex: 1 0 350px;
    font-size: 1.5rem;
}

.welcome-text-container p{
    margin-bottom: 15px;
}

/*****************/
/* Table colours */
/*****************/


.table-heading {
    /* border-top: 2px solid rgba(50,50,50,0.3); */
    border-top: 2px solid rgba(223, 223, 223, 0.3);
    /* border-bottom: 2px solid rgba(50,50,50,0.3); */
    border-bottom: 2px solid rgba(223, 223, 223, 0.3);
}

.table-rows {
    /* border-bottom: 1px solid rgba(50,50,50,0.2); */
    border-bottom: 1px solid rgba(223, 223, 223, 0.25);
}

.table-last-row {
    /* border-top: 1px solid rgba(50,50,50,0.15);
    border-bottom: 2px solid rgba(50,50,50,0.3); */
    border-top: 1px solid rgba(223, 223, 223, 0.15);
    border-bottom: 2px solid rgba(223, 223, 223, 0.3);
}

.table-inputdf {
    border: 2px inset var(--inputborder);
    /* background-color: var(--inputbackground); */
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    padding: 1px;
    border-radius: 5px;
    text-align: justify;

    
}

.table-input::placeholder {
    color: var(--admintext)
}

.table-input:hover {
    background-color: var(--inputbackgroundhover);
}

.review-due {
    background-color: rgba(150, 57, 67, 0.5);

}


/**************/
/* Login body */
/**************/

.login-body {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

}

/**************/
/* Sign up body */
/**************/

.sign-up-body {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/*****************/
/* Login/Sign Up */
/*****************/

.input-field {
    /* width: 90%; */
    background-color: var(--inputbackground);
    border: 2px solid var(--inputborder);
    color: var(--text);
    border-radius: 0.75rem;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    padding: 10px;
}

.input-field:hover {
    /* background-color: rgb(206, 217, 240); */
    border: 2px solid var(--texthighlight)
}

.input-field:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    border: 2px solid var(--texthighlight);
    /* background-color: rgb(206, 217, 240); */
}

.button-color {
    background-color: var(--linkbackground);
    color: var(--buttontext);
    border-radius: 0.75rem;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-color:hover {
    background-color: var(--buttonbackgroundhover)
}


.warningtext {
    visibility: hidden;
    color: var(--textwarning)
}

.modal-field {
    background-color: rgb(229 231 235);
    border: 1px solid rgb(229 231 235);
    color: rgb(24 24 27 );
    border-radius: 0.75rem;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field:hover {
    background-color: rgb(229 231 235);
    border: 1px solid rgb(113 113 122)
}

.modal-field:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    border: 1px solid rgb(113 113 122)
}




/*******************************/
/* Media Query LESS THAN 1280px /
/*******************************/
@media (max-width: 1280px) {
    .navtab {
        justify-content: center;
        width: 100%;
        padding-right: 0px;
    }
    h1 {
        font-size: 2.3rem;
    }
    h2 {
        font-size: 2.1rem;
    }
    .page {        
        width: 85%;
    }
    .welcome-picture{
        width: 400px;
    }
    .welcome-text-container {
        font-size: 1.25rem;
    }
}


/*****************************/
/* Media Query LESS THAN 1024 /
/*****************************/
@media (max-width: 1024px) {
    .page {        
        width: 90%        
    }
    h1 {
        font-size: 1.8rem;
    }
    h2 {
        font-size: 1.6rem;
    }
    .welcome-picture{
            width: 350px;
    }
    .welcome-text-container {        
        font-size: 1rem;
    }
}

/******************************/
/* Media Query LESS THAN 768 /
/******************************/
@media (max-width: 768px) {
    .page {        
        width: 95%;
    }
    .page-header {
        width: 70%;
    }
    h1 {
        font-size: 1.8rem;
    }
    h2 {
        font-size: 1.6rem;
    }
    .welcome-picture{
        width: 300px;
    }
}

/******************************/
/* Media Query LESS THAN 640 /
/******************************/
@media (max-width: 640px) {

    .welcome-text-container {
        font-size: 0.75rem;
    }
    .bg-filter{
        padding: 3px;
    }
    .navtab {
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        padding-right: 0px;
        /* min-width: 285px; */
    }
    .nav-item {
        padding-top: 5px;
        padding-right: 10px;
        padding-bottom: 5px;
        padding-left: 10px;
        margin: 3px;
        border-radius: 5px;
    }
    .nav-item p {
        font-size: 1.00rem;
    }
    .page {        
        width: 95%;
    }
    h1 {
        font-size: 1.2rem;
    }
    h2 {
        font-size: 1.3rem;
    }
    th, td {
        font-size: 0.75rem; 
    }
}

/****************************/
/* Media Query LESS THAN 400 /
/****************************/
@media (max-width: 400px) {
    .nav-item {        
        width: 45%;        
    }
    .welcome-text-container {
        flex: 1 0 200px;
        font-size: 0.75rem;
    }

    table {
        font-size: 0.5rem; 
    }
}




/*******************************//*******************************/
/* Maybe can delete below here *//* Maybe can delete below here */
/*******************************//*******************************/




/**********/
/* NavTab */
/**********/

/* .navtab {
    display: flex;
    justify-content: right;
    padding-right: 100px;
    width: 60%;

    margin-bottom: 5px;
    margin-top: 5px;
    transition: ease-in-out .3s;    
}

.nav-item {
    padding-top: 3px;
    padding-right: 1rem;
    padding-bottom: 3px;
    padding-left: 1rem;
    margin: 1px;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 0.75rem;
    text-align: center;
    transition: ease-in-out .3s;    
}

.nav-item p {
    font-size: 1.5rem;
}

.nav-item:hover {
    background-color: var(--linkbackground); 
    color: var(--buttontext);
}

.nav-active {
    text-decoration: underline;
    transform-origin: center;
    transition-duration: 300ms;
    background-color: var(--linkbackground); 
    color: var(--buttontext);

    display: inline-block;
    vertical-align:bottom;
    text-align: center;
} */

